
body{
    margin: 0%;
    padding: 0%;
    font-family: Fredoka;
    font-weight: 600;
    color: white;
    background-color: #1b1b1b;
    overflow: hidden;
}
@keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}
@keyframes slideOut {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-100%);
      opacity: 0;
    }
}
.slide-in {
  animation: slideIn 0.2s forwards;
}
.slide-out {
  animation: slideOut 0.24s forwards;
}

.on{
  filter: drop-shadow(40px 40px 100px yellow)
}
.link{
    position: absolute;
    left: 75%;
    top: 92%;
    text-decoration: underline;
}
.link:hover{
    text-decoration: none;
    cursor: pointer;
}
.object{
  z-index: 1;
  position: relative;
}
figure{
    position: relative;
    top: -10%;
    left: 0%;
    z-index: 25;
}
figure .img{
    position: absolute;
    left: 0%;
    top: -20px;
    transform: rotate(180deg);
}
/* \\\ */
.lightEffec{
  position: absolute;
  display: none;
  width: 1800px;
  height: 1800px;
  background-image: radial-gradient(#ffefc6 50%, #ffdd88 100%) ;
  border-radius: 50%;
  top: -700px;
  left: -55%;
  z-index: 1;
  transition: 1s;

}
.lightEffect{
  display: none;
  position: absolute;
  width: 1400px;
  height: 1400px;
  background-image: radial-gradient(#fee2e2 50%, #fecaca 100%) ;
  border-radius: 50%;
  top: -550px;
  left: -40%;
  z-index: 1;
  transition: 1s;

}
.lightEffect__inner{
  display: none;
  position: absolute;
  width:1100px;
  height: 1100px;
  color: rgb(87, 140, 145);
  background-image: radial-gradient(#ffdfa5 50%, #ffc76d 100%) ;
  border-radius: 50%;
  top: -420px;
  left: -30%;
  z-index: 5;
  transition: 1s;
}
.lightEffect__inner--{
  display: none;
  position: absolute;
  width: 750px;
  height: 750px;
  background-image: radial-gradient(#fde68a 50%, #d1be71 100%) ;
  border-radius: 50%;
  top: -290px;
  left: -20%;
  z-index: 10;
  transition: 1s;

}
.lightEffect__inner---{
  display: none;
  transition: 1s;
  position: absolute;
  width: 450px;
  height: 450px;
  background-image: radial-gradient( #ffed00 50%,  #e8d902 100%) ;
  border-radius: 50%;
  top: -170px;
  left: -12%;
  z-index: 10;
}
/* \\\ */
#sectionContainer{
  height: 500px;
}
#h1{
  color: white;
  z-index: 30;
  position: relative;
}
#wrapper{
  z-index: 30;
  overflow: hidden;
  position: relative;
  border-radius: 76px;
  box-shadow: 3px 5px 10px rgba(255, 247, 247, 0.594);
}

#toDo{
  height: 100%;
  width:100%;
  position: absolute;
  border-radius: 75px;
  border: solid 1px;
  transition:1s;
  color: white;
}
.content{
  position: relative;
  height: 90%;
} 
.content #form-1{
  height: 50px;
  display: grid;
  place-items: center;
}
.bgbg{
  background-color: transparent;
}

.input-group{
  width: 80%;
}
.task{
  list-style-type: none;
}

#task{
  width: 70%;
  height: 55px;
  border-radius: 8px;
  background-color: transparent;
  color: rgb(255, 255, 255); 
}
.toDo__btn{
  width: 15%;
  border-radius: 8px;
  margin-right: 10px;
  height: 55px;
}
.toDo__input{
  height: 55px;
  font-size: 25px;
}
ul{
  padding: 5px;
}
#contenido{
  /* border: solid 1px; */
  height: 78%;
  overflow-y: scroll;
}
#contenido::-webkit-scrollbar{
  background-color:transparent;
} 

.contain{
  position: relative;
}
.form__input{
  width: 30px;
  height: 30px;
  padding:3px 3px;
  position: absolute;
  left: -2%;
  top: -2%;
}
.task-actions{
  position: relative;
  display: flex;
  width: 21.5%;
}
.checkbx, .delete-task, .add-subtask, .show-subtasks{
  transform: scale(0.8);
  position: relative;
  height: 35px;
  width: 35px;
  top: 0%;
  left: 0;
  display: grid;
  place-items: center;
  background-color: transparent;
  color: white;
  border: solid ;
  border-radius: 3px;
  transition: 0.5s;
}
.delete-task:hover{
  color: red;
}
.add-subtask:hover{
  color: green;
}
.show-subtasks{
  opacity: 50%;
}
.show-subtasks:hover{
  opacity: 100%;
}

.subtask-item{
  display: flex;
  height:35px;
  width: 100%;
  position: relative;
  border: solid 1px;
  border-radius: 10px;
  background-color: #001119;
  padding-left: 4px;
  left: 2%;
}

.subtask-label{
  position: relative;
  width: 90%;
  height: 100%;
  padding-left: 2px;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: white;
}
.subtask-actions{
  width: 60px;
  height: 100%;
  position: relative;
}
.show-subtasks{
  display: grid;
  place-items: center;
  height: 35px;
  position: relative;
  top: 0%;
  left: 0;
}
.subcheckbx{
  transform: scale(1.85);
  position: absolute; 
  top: 10px;
  left: 10px;
}
.delete-SubTask{
  display: grid;
  place-items: center;
  height: 35px;
  transform: scale(0.7);
  position: absolute;
  border-radius: 4px;
  top: 0px;
  left: 25px;
  color: white;
  background-color: transparent;
}

.contenedor{
  background-color: #001029;
  color: aliceblue;
  width: 82%;
  height: 40px;
  border-radius: 10px;
}
.subTarea{
  position: relative;
  left: 6%;
  border-radius: 10px;
}
.Dbtn{
  color:rgb(121, 121, 166);
  position: relative;
  left: -20px;
}
.Dbtn:hover{
  color: rgb(202, 2, 2);
}
.subTareaL{
  position: relative;
  width: 140%;
  height: 40px;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow-x: hidden;
  padding-left: 5px;
  left:-3%;
}
.switch{
  position: absolute;
  top: 20%;
  left: 90%;
  z-index: 40;
}
#onoff {
  display: none
} 
.on,.off {
  position: absolute;
  text-align: center;
  text-shadow: inset 1px 1px 1px black;
  width: 100%;
} 
.on {
  color: #fff;
  top: 10px;
  transition: all 0.1s;
  font-family: sans-serif
}  
.off {
  color: #636161;
  bottom: 5px;
  transition: all 0.1s;
  transform: scaleY(0.85);
}
  
.but {
  background-color: #000;
  border-radius: 400px 400px 400px 400px / 400px 400px 300px 300px;
  border-bottom-width: 0px;
  box-shadow: inset 8px 6px 5px -7px rgba(0,0,0,1)
    ,inset -8px 6px 5px -7px rgba(0,0,0,1)
    ,inset 0 -3px 2px -2px rgba(200,200,200,.5)
    ,0 3px 3px -2px rgba(0,0,0,1)
    ,inset 0 -230px 60px -200px rgba(255,255,255,.2)
    ,inset 0 220px 40px -200px rgba(0,0,0,.3);
  display: block;
  font-size: 17px;
  height: 60px;
  position: relative;
  transition: all 0.2s;
  width: 40px;
}
  
.back {
  background-color: #000;
  background-image: -webkit-linear-gradient(0deg, transparent 30%, transparent 65%)
    ,-webkit-linear-gradient(0deg, rgba(245, 245, 245, 0) 30%, rgba(150,150,150,.1) 50%, rgba(150,150,150,0) 70%);
  border-radius: 115px;
  box-sizing: border-box;
  height: 85px;
  padding: 4px 4px;
  transition: all 0.2s;
  width: 50px;
}
  
#onoff:checked + .back .on,#onoff:checked + .back .off {
    text-shadow: inset 1px 1px 1px black;
}
  
#onoff:checked + .back .on {
    color: rgb(141, 141, 141);
    top: 10px;
    transform: scaleY(0.85);
}
  
#onoff:checked + .back .off {
    color: #fff;
    bottom: 5px;
    transform: scaleY(1);
}
  
#onoff:checked + .back .but {
  background: #232323;
  background-image: -webkit-radial-gradient(55% 18%,circle closest-corner,rgba(0,0,0,.3) ,rgba(0,0,0,0));
  border-radius: 410px 410px 410px 410px / 310px 310px 410px 410px;
  box-shadow: inset 8px -4px 5px -7px yellow
    ,inset -8px -4px 5px -7px rgba(0,0,0,1)
    , 0 -3px 8px -4px rgba(250,250,2,.4)
    ,inset 0 3px 4px -2px rgba(10,10,10,1)
    ,inset 0 280px 40px -200px rgba(0,0,0,.2)
    ,inset 0 -200px 40px -200px rgba(180,180,180,.2);
  margin-top: 20px;
}
  
#onoff:checked + .back {
  background-image: -webkit-linear-gradient(90deg, black 30%, transparent 65%)
    ,-webkit-linear-gradient(180deg, rgb(10, 27, 0) 0%, #ff8e96 50%, rgb(10, 27, 0) 100%);
    box-shadow: 28px 28px 28px -28px rgba(0,0,0,.1)
    ,-28px 28px 28px -22px rgba(0,0,0,.1)
    ,0 30px 30px 0px rgba(0,0,0,.2)
    ,inset 0 1px 2px 0 rgba(0,0,0,.6);
  padding: 2px 4px;
}
  
.l,.r {
  margin: 0 auto;
  text-align: center;
}
  
.round,#onoff,.back,.but,.on,.off {
    user-select: none;
}
#onoff:checked #light-on{
    display: none;
}


@media screen and (width<888px) {
  .toDo__btn{
    padding: 2.5px;
  }
  .switch{
    position: absolute;
    left: 85%;
    top: 17%;
    transform: scale(0.8); 
  }
  #sectionContainer{
    height: 82vh;
  }

  .subtask-item{
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    left: 2%;
  }
  .subtask-label{
    left: 15px;
    overflow-x: scroll;
    text-wrap: nowrap;
    position: relative;
    width: 75%;
  }

  .delete-SubTask{
    border-radius: 4px;
    top: 0px;
    font-size: 10px;
    left:30px;
    color: white;
    border: solid;
    background-color: transparent;
    position: relative;
  }

  h6{
    font-size: 30px;
    height: 70px;
    width: 40%;
    display: grid;
    place-items: center;
    position: fixed;
    left: 30%;
    margin-top:-15px ;
  }
}